[threatconnect]
#------------------------------------------------------------------------------
#    ThreatConnect Configuration
#------------------------------------------------------------------------------

# A comma seperated list of all of the sources to pull in from ThreatConnect.
# Use a * to indicate all sources.
sources=*

# This is the url of the threatconnect webservice.
url=https://api.threatconnect.com

# This section allows global configuration options to be passed to the ThreatConnect feed.
# The API_KEY is an integer value and should not be enclosed in quotes.
#  Utilize the API and Secret keys provided by ThreatConnect to access your specific community.
api_key=
secret_key=

# The files below will list items to be filtered from ThreatConnect feeds.
# The most common use for these files is to provide an extra level of data
# validation so questionable data such as a listing for '127.0.0.1' as an IP IOC
# does not make its way to the final feed generated
# filtered_ip contains a text file of IPs, one per line, that should never result in feed hit
# filtered_host contains a text file of host names, one per line, that should never result in feed hit
# filtered_hashes contains a text file of file hashes, one per line, that should never result in feed hit
#filtered_ips=/home/username/ips.txt
#filtered_hashes=/home/username/hashes.txt
#filtered_hosts=/home/username/hosts.txt

# The type of IOCs to obtain.  Valid types are: File, Address, and host
ioc_types=File,Address,Host

# Minimum score for an IOC to be included. If IOC score is less than this value
# it will be filtered out. Default value is 1, even when not present. To allow unrated
# IOCs this value must be set to zero.
ioc_min_score=1

# The type of report IOC Grouping.  There are two types currently available:
# Expanded  - This puts each IOC in it's own report.  Importing more than 10k reports
#             is a bad idea and should be avoided.  If the ThreatConnect feed is going
#             to contain more than 10k IOCs, use Condensed instead.
# Condensed - This creates a report for each combination of source + score and places
#             all IOCs with the same source and score into the same report.  This will
#             dramatically reduce the number of reports and is the recommended method.
ioc_grouping=Condensed

# The maximum number of reports to create.  Once this number is hit, no additional
# reports will generate.  For performance reasons, the number of reports being imported should be limited.
# Comment this line out to remove the limit.  If this limit is being reached, use
# ioc_grouping=Condensed instead.
max_reports=10

# The default organization from which to pull IOCs.
default_org=Carbon Black

[bridge]
#------------------------------------------------------------------------------
#    Core Configuration
#------------------------------------------------------------------------------
listener_port=6100
listener_address=127.0.0.1
feed_retrieval_minutes=60
#debug=1

# API key for an administrative user of the Carbon Black server
carbonblack_server_token=

# Only uncomment out the carbonblack_server_url if you are running the connector on a machine
#  *other* than the Cb server itself.
# carbonblack_server_url=

# If you need to use an HTTPS proxy to access the iSIGHT API server, uncomment and configure the https_proxy
# variable below.
# https_proxy=http://proxyuser:proxypass@proxyhostname:proxyport

# The location to store cached feed reports and temporary files
cache_folder=/usr/share/cb/integrations/cb-threatconnect-connector/cache

# Set this to true if you want the cache file to be formatted and easier to read.
# Warning! Enabling this will slow down the writing to disk by a magnitude of 10
# pretty_print_json=False